@import "tailwindcss";

@theme {
  --color-brand-bg: #0F172A;
  --color-brand-card: #1E293B;
  --color-brand-border: #334155;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0F172A;
  color: #e2e8f0;
}
